
<%= render 'admin/users/admin_header' %>

  <div class="admin_album_show">
    <div class="admin_album_show_title">
      <h2>
        <%= @album.album_name %>
        <%= link_to "アルバム削除", admin_album_path, method: :delete, class: "btn btn-danger" %>
      </h2>
    </div>

    <div class="admin_album_edit_box">
      <h3>アルバム情報の編集</h3>
      <%= form_with url: admin_album_path, model: @album do |f| %>
        <%= f.label :album_name, "アルバム名" %>
        <%= f.text_field :album_name %><br>
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "変更", class: "btn btn-success" %>
      <% end %>
    </div>

    <div class="admin_album_show_box">
      <div class="admin_album_photo">
        <div class="admin_album_photo_title">
          <li>番号</li>
          <li>写真</li>
          <li></li>
        </div>
        <% @photos.each do |photo| %>
          <div class="admin_album_photo_body">
              <li><%= photo.id %></li>
              <li><%= image_tag photo.image.url %></li>
              <li style="text-align: center;"><%= link_to "削除", admin_photo_path(photo.id), method: :delete, class: "btn btn-danger" %></li>
          </div>
        <% end %>
      </div>

      <div class="chat_box">
        <div class="chat_comment">
          <%= form_with url: admin_comments_path, model: @comment,class: "comment_form" do |f| %>
          <%= f.label :comment_text, "コメント（最大200文字）" %><br>
          <%= f.text_area :comment_text, required: true, class: "form-control" %>
          <%= f.hidden_field :album_id, value: params[:id] %>
          <%= f.hidden_field :user_id, value: current_admin.id %>
          <%= f.submit "投稿", class: "btn btn-success btn-block" %>
          <% end %>
        </div>

        <div class="comment_box">
          <div class="post_wrapper">
            <% @comments.each do |comment| %>
            <div class="comment_text" data-commentid="<%= comment.id %>">
              <% user = User.with_deleted.find(comment.user_id) %>
              <strong><%= user.name %></strong><br>
              <%= comment.comment_text %>
              <%= link_to "削除", admin_comment_path(comment.id), method: :delete %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
