<div class="container">
  <div class="row">
    <div style="background-color: orange">
      <h1><%= @user.name %>さん ようこそ！</h1>
    </div>
    <div style="background-color: green">
      <%= form_with model: @album do |f| %>
      <%= f.label :アルバム名 %>
      <%= f.text_field :album_name %>
      <%= f.label :パスワード %>
      <%= f.password_field :album_password %>
      <%= f.submit :アルバム作成 %>
      <% end %>
    </div>
    <div style="background-color: yellow">
      <% @albums.each do |album| %>
      <div>
        <%= album.album_name %>
        <%= album.album_password %>
        <%= album.created_at %>
        <%= link_to "詳細", album_path(album.id) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
