
<%= render 'homes/header' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="album_edit_title">
        <%= flash[:notice] %>
        <h2><%= @album.album_name %>｜編集</h2>
        <div class="album_edit_title_btn">
        <%= link_to "アルバムを削除する", album_path(@album.id), method: :delete, class: "btn btn-danger" %>
        <%= link_to "アルバムに戻る", album_path(@album.id), class: "btn btn-info" %>
        </div>
      </div>
      <div class="album_details_box">
        <h3>アルバム詳細　変更</h3>
        <%= form_with model: @album do |f| %>
          <%= f.label :album_name, "アルバム名" %>
          <%= f.text_field :album_name %><br>
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password %>
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation %>
          <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>番号</th>
              <th>写真</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @photos.each do |photo| %>
              <tr>
                <%= form_with model: photo do |f| %>
                  <th>
                    <%= f.number_field :image_number %>
                  </th>
                  <td>
                    <%= image_tag(photo.image.url(:thumb)) %>
                    <%= f.file_field :image, required: true %>
                  </td>
                  <%= f.hidden_field :album_id, :value => params[:id] %>
                  <td><%= f.submit "変更", class: "btn btn-success" %></td>
                  <td><%= link_to "削除", photo_path(photo.id), method: :delete, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>