
<%= render 'homes/header' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 top_main_search">
      <div class="top_main_search_line">
      <div class="main_search_title">
        <h2><i class="fas fa-camera"></i>アルバムを見る</h2>
      </div>
      <div class="search_form_box">
        <%= form_for(:album, url:albums_login_path) do |f| %>
        <div class="search_form">
          <%= f.label :user_id, "ID" %>
          <%= f.text_field :user_id, required: true, class: "form-control" %>
        </div>
        <div class="search_form">
          <%= f.label :album_name, "アルバム名" %>
          <%= f.text_field :album_name, required: true, class: "form-control" %>
        </div>
        <div class="search_form">
          <%= f.label :password_digest, "パスワード" %>
          <%= f.password_field :password_digest, required: true, class: "form-control" %>
        </div>
          <%= f.submit "アルバムに入る", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>