    <header>
      <div class="header">

      <div class="main_logo">
        <%= image_tag 'main_logo.png' %>
      </div>
      <nav class="head_navi">
        <!-- 使い方 -->
        <li>
          <%= link_to home_about_path do %>
            <%= image_tag 'navi_icon7.png' %>
          <% end %>
        </li>
        <% if user_signed_in? %>
        <!-- アルバムを探す -->
        <li>
          <%= link_to albums_path do %>
            <%= image_tag 'navi_icon5.png' %>
          <% end %>
        </li>
        <!-- マイページ -->
        <li>
          <%= link_to user_path(current_user.id) do %>
            <%= image_tag 'navi_icon3.png' %>
          <% end %>
        </li>
        <!-- ログアウト -->
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'navi_icon4.png' %>
          <% end %>
        </li>

        <% else %>

        <!-- アルバムを探す -->
        <li>
          <%= link_to albums_path do %>
            <%= image_tag 'navi_icon6.png' %>
          <% end %>
        </li>
        <!-- ログイン -->
        <li>
          <%= link_to new_user_session_path do %>
            <%= image_tag 'navi_icon1.png' %>
          <% end %>
        </li>
        <!-- 新規登録 -->
        <li>
          <%= link_to new_user_registration_path do %>
            <%= image_tag 'navi_icon2.png' %>
          <% end %>
        </li>
        <% end %>
      </nav>
      </div>
    </header>