
<%= render 'homes/header' %>

<div class="how_to_box">
  <div class="how_to_title">
    <%= image_tag 'navi_icon6.png' %>
  </div>
  <div class="how_to_body">
    <div class="how_to_image">
      <%= image_tag 'how_to1.png', width: '500' %>
    </div>
    <div class="how_to_text">
      <p>アルバムを見るためには<br><strong>「 ID 」「 アルバム名 」「 パスワード 」</strong>が必要です！<br><br>
        それぞれ入力して、<br><button type="#" class="btn btn-success">アルバムに入る</button> を タッチ もしくは クリック してください。<br>

      </p>
    </div>
  </div>
  <div class="how_to_title">
    <%= image_tag 'navi_icon8.png' %>
  </div>
  <div class="how_to_body">
    <div class="how_to_image">
      <%= image_tag 'how_to2.png', width: '500' %>
    </div>
    <div class="how_to_text">
      <p>写真を タッチ もしくは クリック すると、大きいサイズで写真を見ることができます。<br>
        拡大後は「閉じる」ボタンで元のサイズに戻ります。<br><br>
        チャットは会員登録していなくても誰でも利用できます！<br>
        コメントを入力して<button type="#" class="btn btn-success">投稿</button>を タッチ もしくは クリックするだけなので、ぜひ参加してみてください！
      </p>
    </div>
  </div>
</div>