
<%= render 'admin/users/admin_header' %>

<div class="admin_user_index">
  <div class="admin_user_index_title">
    <%= flash[:notice] %>
    <h2>登録ユーザー　一覧</h2>
  </div>
  <div class="admin_user_list">
    <div class="admin_user_list_title">
      <li>id</li>
      <li>名前</li>
      <li>詳細ページ</li>
      <li>登録日時</li>
      <li><%= link_to "古いユーザーの一括削除", admin_users_path, method: :delete, class: "btn btn-danger" %></li>
    </div>
    <% @users.each do |user| %>
    <div class="admin_user_list_body">
        <li><%= user.id %></li>
        <li><%= user.name %></li>
        <li><% if user.guest == false %>
            <%= link_to "詳細", admin_user_path(user.id), class: "btn btn-default" %>
            <% end %></li>
        <li><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></li>
        <li><% if user.guest == true %>
            <%= link_to "削除", admin_user_path(user.id), method: :delete, class: "btn btn-danger" %>
            <% end %></li>
      </div>
    <% end %>
  </div>
</div>
