
<%= render 'admin/users/admin_header' %>

<div class="container">
  <div class="row">
    <div class="admin_user_index">
      <div class="admin_user_index_title">
        <%= flash[:notice] %>
        <h2>登録ユーザー　一覧</h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>名前</th>
            <th>詳細ページ</th>
            <th>登録日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><% if user.guest == false %>
              <%= link_to "詳細", admin_user_path(user.id), class: "btn btn-default" %>
              <% end %></td>
            <td><%= user.created_at %></td>
            <td><% if user.guest == true %>
              <%= link_to "削除", admin_user_path(user.id), method: :delete, class: "btn btn-danger" %>
              <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>