
<%= render 'homes/header' %>

<div class="sign_box">
<div class="sign_box_line">
  <div class="sign_box_title">
    <h2>新規 登録</h2>
  </div>
  <div class="sign_box_body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="sign_form">
        <div class="field">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
      <div class="sign_btn">
        <%= f.submit "新規登録", class: "btn btn-success" %><br />
        <%= render "users/shared/links" %>
      </div>
    <% end %>
  </div>
  </div>
</div>
</div>
